{% extends "base.html" %}

{% block title %} 小Pi的音乐电台 {% end %}

{% block body %}

<div class= "navbar navbar-inverse " role="naviation">
    <div class = "container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class = "navbar-brand" href="/"> 小派的音乐电台 </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class = "nav navbar-nav">
                <li> <a href="/about"> 关于本站 </a> </li>
                <li> <a href="/contact"> 联系我 </a> </li>
                <li> <a href="/signin"> 登陆 </a> </li>
            </ul>
        </div>
    </div>
</div>

<div class = "container">

    如果你想联系到本人，可以使用以下几种联系方式：<br>


    <ul> E-mail: andyhuzhill#gmail.com （请将#替换成@) </ul>
    <ul> Homepage: <a href="http://andyhuzhill.github.io"> http://andyhuzhill.github.io</a>  </ul>
    <ul> QQ: 799945920 </ul>

</div>

{% end %} 

