{% extends "base.html" %}

{% block title %} 小Pi的音乐电台 {% end %}

{% block body %}

<div class= "navbar navbar-inverse " role="naviation">
    <div class = "container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class = "navbar-brand" href="/"> 小派的音乐电台 </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class = "nav navbar-nav">
                <li> <a href="/about"> 关于本站 </a> </li>
                <li> <a href="/contact"> 联系我 </a> </li>
                <li> <a href="/signin"> 登陆 </a> </li>
            </ul>
        </div>
    </div>
</div>

<div class = "wrap-all"> 

    <div class="container">

        <h3>当前播放歌曲:</h3><br/>
        <img src="{{ imgsrc }}"> 
        <ul>
            <h4><li> 歌曲名：{{ songtitle }}   </h4>
            <h4><li> 歌手：  {{ singer }}  </h4>
        </ul>

        <div class="index-banner-action">
            <form action="/" method="POST">
                <button class="btn btn-success btn-lg" type="submit"> 
                    下一首歌曲
                </button>
            </form>
        </div>

        <h4>  当前播放列表 </h4><br/>
        <table class="table table-stripped table-bordered">
            <tr> <td> <strong>歌名</strong> </td> <td><strong> 歌手名 </strong></td> </tr>
            {% for song in songs %}
            <tr> <td> {{ song['title'] }} </td><td> {{ song['artist'] }} </td></tr>
            {% end %}

        </table>

    </div>

</div>

{% end %} 

